
.icon-user:before { content: '\e800'; } /* '' */
.icon-mail-alt:before { content: '\f0e0'; } /* '' */
.icon-linkedin:before { content: '\f0e1'; } /* '' */
.icon-info:before { content: '\f129'; } /* '' */
.icon-chrome:before { content: '\f268'; } /* '' */
